<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>36C28AB5-6566-4C50-9EBD-CBB920F83843</key>
		<dict>
			<key>current-network</key>
			<data>
			AAAAAAAAAAAEAAUAEAAAAFZvZGFmb25lQmFpbzE5NzcAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			IAAAAFOCy68EgPHmnsw+P/kt+QZQExkR6LvNA4vmFQByYLPi
			</data>
			<key>preferred-count</key>
			<data>
			AQAAAA==
			</data>
			<key>preferred-networks</key>
			<data>
			AAAAAAAAAAAEAAUAEAAAAFZvZGFmb25lQmFpbzE5NzcAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			IAAAAFOCy68EgPHmnsw+P/kt+QZQExkR6LvNA4vmFQByYLPi
			</data>
		</dict>
		<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
		<dict>
			<key>EnableTRIM</key>
			<data>
			AQ==
			</data>
			<key>ForceDisplayRotationInEFI</key>
			<data>
			AAAAAA==
			</data>
			<key>SystemAudioVolume</key>
			<data>
			Rg==
			</data>
			<key>bluetoothActiveControllerInfo</key>
			<data>
			BTDzDAAAAAAUGpy3DaBtng==
			</data>
			<key>csr-active-config</key>
			<data>
			/wMAAA==
			</data>
			<key>fmm-computer-name</key>
			<data>
			TWFjQm9vayBQcm8gZGkgQmFpbzE5Nzc=
			</data>
			<key>intel-backlight-level</key>
			<data>
			qgMAAA==
			</data>
			<key>prev-lang:kbd</key>
			<data>
			aXQtSVQ6MjIzAA==
			</data>
			<key>run-efi-updater</key>
			<data>
			Tm8A
			</data>
			<key>boot-args</key>
			<data>
			LXYga2VlcHN5bXM9MSBkZWJ1Zz0weDEwMCBhcHBsYmtsPTAA
			</data>
		</dict>
		<key>8BE4DF61-93CA-11D2-AA0D-00E098032B8C</key>
		<dict>
		</dict>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
